<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Add Client</title>
</head>
<body>
    <div class="container">
        <h2>Add Client</h2>

        <form method="post">
            <input type="text" name="name" placeholder="Name" required><br>
            <input type="number" name="age" placeholder="Age" required><br>
            <input type="number" name="weight" placeholder="Weight" required><br>

            <select name="program">
                <option>Fat Loss</option>
                <option>Muscle Gain</option>
                <option>Beginner</option>
            </select><br>

            <button type="submit">Save</button>
        </form>
    </div>
</body>
</html>